.footer {
  font-size: 1.4rem;
  min-height: fit-content;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3rem;
  justify-content: center;

  a {
    text-decoration: none;
    &:active,
    &:visited {
      color: $blue;
    }
  }

  ion-icon {
    transform: translateY(0.9rem);
    font-size: 3rem;
  }
}
